.param-control {
    width: calc(100% / 7);
    float: left;
}

label {
    position: relative;
    text-align: center;
    display: block;
    font-size: 12px;
    //max-width: 65px;
    width: 100px;
    height: 37px;
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 13px;
    span {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
    }
}

input {
    transform: rotate(270deg);
    margin: 61px 0 0 -7px;
}