<div class="granular">
    <div *ngIf="granularService.currentState === state.Empty || granularService.currentState === state.Recording" class="record-container">
        <div *ngIf="granularService.currentState === state.Empty && microphoneDisabled" 
        (click)="loadFallback()" class="mic-disabled">MICROPHONE DISABLED.<br>TRY IN FIREFOX, OR CLICK HERE TO LOAD FALLBACK SOUND</div>
        <div *ngIf="granularService.currentState === state.Loading">LOADING...</div>
        <div *ngIf="granularService.currentState === state.Empty && !microphoneDisabled">NO SOUND FILE LOADED. PRESS RECORD TO BEGIN.</div>
        <div *ngIf="granularService.currentState === state.Recording">RECORDING...</div>
    </div>
    <wave 
    [hidden]="granularService.currentState === state.Empty || granularService.currentState === state.Recording" 
    [position]="controls[0]" 
    [sound]="soundUrl"></wave>
    <div class="transport-container">
        <record (sendRecording)="receiveRecording($event)" (microphoneDisabled)="microphoneDisabled=true"></record>
        <div class="transport">
            <button (click)="play()" [disabled]="granularService.currentState !== state.Paused">
                <img src="images/play.svg"><span>PLAY</span></button>
            <button (click)="stop()" [disabled]="granularService.currentState !== state.Playing">
                <img src="images/pause.svg"><span>PAUSE</span></button>
        </div>
    </div>
    <div class="control-container">
        <control *ngFor="let param of controls" [control]="param"></control>
        <reverb [ctx]="ctx" [outputNodes]="[ctx.destination]" (sendInputNode)="receiveInputNode($event)"></reverb>
    </div>    
</div>

